*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General sizing for high order elements */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Styling for all content in body */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* padding for thin wrapper around content */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* General styling for header content */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* Styling for both card elements */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

  /* Centering for header and p tag in criteria panel */
  .card-header, .card-footer, p {
    text-align: center;
  }

  /* Add a thin, gray line after every card header and before every card footer */
  .card-header::after, .card-footer::before  {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
  }

  /* Prevent card-body from collapsing below 100px */
  .card-body {
    min-height: 100px;
  }

/* Styling for button elements */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Styling for disabled buttons (not currently in use) */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* Styling for password output */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px auto;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Set wrapper to contain copy icon */
.textAreaWrapper {
  position: relative;
}

  /* Style copy icon to appear at the bottom right corner of the wrapper */
  #copy {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px;
    cursor: pointer;
    border-radius: 10%;
  }

  /* Change icon appearance on mouse over */
  #copy:hover {
    background-color: grey;
    color: white;
  }

  /* Styles to position copied alert and set fade out animation */
  #copiedAlert {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 6px;
    z-index: 1;
    display: none;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }

  @keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
  }

/* Set options panel to not display at first */
#optionsPanel {
  display: none;
}
  /* Set list of criteria to display evenly spaced */
  ul {
    display: flex;
    justify-content: space-evenly;
  }
    li {
      display: inline-flex;
      list-style: none;
    }

/* Media query to decrease font size and padding and margins of buttons on medium screens */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  #password {
    font-size: 1rem;
  }
}
/* Media query to decrease button font size  further and reorder criteria elements on small screens */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
  ul {
    flex-direction: column;
  }
}
